@media (max-width: 230px) {

    .titulo>h1 {
        font-size: 48px;
    }

    .menu>h2 {
        font-size: 28px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .sobre>h2 {
        font-size: 28px;
    }

    .sobre-texto {
        background-color: rgba(255, 225, 33, 0.50);
        border-radius: 10px;
        padding: 20px;
        width: 380px;
        height: 505px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .sobre-texto>p {
        font-family: "Kalam", cursive;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 50px;
        line-height: 18px;
    }

    .contato {
        flex-direction: column;
    }

    .delivery,
    .contato-info {
        width: 360px;
        height: 429px;
    }

    .text-end {
        width: 220px;
        height: 240px;
        font-size: 16px;

    }

}



@media (min-width: 768px) and (max-width: 999px) {

    nav{
        gap: 20px;
    }

    a {
        text-decoration: none;
        list-style: none;
        font-size: 21px;
        font-family: "Kalam", cursive;
        color: #FFE121;
        cursor: pointer;
        padding: 20px;

    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .sobre-texto {
        background-color: rgba(255, 225, 33, 0.50);
        border-radius: 10px;
        padding: 20px;
        width: 707px;
        height: 505px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .sobre-texto>p {
        font-family: "Kalam", cursive;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        padding: 50px;
        line-height: 38px;

    }

    .delivery,
    .contato-info {
        width: 360px;
        height: 429px;
    }

    .text-end {
        width: 220px;
        height: 240px;
        font-size: 16px;

    }

}