@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/pateis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.cabeca {
    background-color: #FF0101;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    padding: 0 40px;
    z-index: 1000;
}

nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav>li{
   list-style: none;
}
a{
    text-decoration: none;
     list-style: none;
    font-size: 26px;
    font-family: "Kalam", cursive;
    color: #FFE121;
    cursor: pointer; 
    
}

a:hover{
    border: 2px double #FFE121; 
    border-radius: 4px;
    padding: 6px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    padding-left: 150px;
    padding-top: 110px;
}

.titulo>h1 {
    color: #FFE121;
    font-size: 96px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.605);
}




.menu {
    display: flex;
    flex-direction: column;
    column-count: 3;
    column-gap: 10px;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    background-color: #FF0101;
    padding: 60px 40px;
}

.menu>h2 {
    color: #fff;
    background-color: rgba(255, 225, 33, 0.50);
    padding: 0 33px;
    border-radius: 50px;
    align-self: flex-start;
    font-family: "Kalam", cursive;
    font-size: 48px;
    margin-bottom: 80px;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}


.cart {
    background-color: rgba(255, 225, 33, 0.50);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.cart:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.cart img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.cart p {
    font-family: "Kalam", cursive;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
}

.cart p:last-child {
    color: #FF0101;
    font-weight: 700;
    font-size: 22px;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    background-color: #FF0101;
    padding: 60px 40px;
}

.sobre>h2 {
    color: #fff;
    background-color: rgba(255, 225, 33, 0.50);
    padding: 0 33px;
    border-radius: 50px;
    align-self: flex-start;
    font-family: "Kalam", cursive;
    font-size: 48px;
    margin-bottom: 80px;
}

.sobre-texto {
    background-color: rgba(255, 225, 33, 0.50);
    border-radius: 10px;
    padding: 20px;
    width: 1307px;
    height: 505px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.sobre-texto>p {
    font-family: "Kalam", cursive;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 100px;
    line-height: 50px;

}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    min-height: 100dvh;
    background-color: #FF0101;
    padding: 60px 40px;
    box-sizing: border-box;
}

.delivery,
.contato-info {
    width: 517px;
    height: 459px;
    background-color: rgba(255, 225, 33, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.delivery>h2 {
    padding-top: 28px;
    font-size: 28px;
    font-family: "Kalam", cursive;
    font-weight: bold;
    text-align: center;
}

.delivery-text {
    font-size: 18px;
    font-weight: bold;
    font-family: "Kalam", cursive;
    text-align: center;
    padding-bottom: 60px;

}

.numero {
    cursor: pointer;
    margin: auto;
    font-family: "Kalam", cursive;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 13px;
    background-color: rgba(255, 225, 33, 0.5);
    border-radius: 20px;
    width: 219px;
    height: 60px;
}

.endereco>h2 {
    padding-top: 28px;
    font-size: 28px;
    font-family: "Kalam", cursive;
    font-weight: bold;
    text-align: center
}

.text-end {
    cursor: pointer;
    margin: 40px auto 0;
    width: 420px;
    height: 210px;
    background-color: #FF0101;
    border-radius: 10px;
    font-size: 28px;
    font-family: "Kalam", cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;


}

@media (min-width: 230px) and (max-width:530){

    .titulo>h1 {
        font-size: 48px;
    }

    .menu>h2 {
        font-size: 28px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .sobre>h2 {
        font-size: 28px;
    }

    .sobre-texto {
        background-color: rgba(255, 225, 33, 0.50);
        border-radius: 10px;
        padding: 20px;
        width: 380px;
        height: 505px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .sobre-texto>p {
        font-family: "Kalam", cursive;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 50px;
        line-height: 18px;
    }

    .contato {
        flex-direction: column;
    }

    .delivery,
    .contato-info {
        width: 360px;
        height: 429px;
    }

    .text-end {
        width: 220px;
        height: 240px;
        font-size: 16px;

    }

}



@media (min-width: 768px) and (max-width: 999px) {

    nav{
        gap: 20px;
    }

    a {
        text-decoration: none;
        list-style: none;
        font-size: 21px;
        font-family: "Kalam", cursive;
        color: #FFE121;
        cursor: pointer;
        padding: 20px;

    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .sobre-texto {
        background-color: rgba(255, 225, 33, 0.50);
        border-radius: 10px;
        padding: 20px;
        width: 707px;
        height: 505px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .sobre-texto>p {
        font-family: "Kalam", cursive;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        padding: 50px;
        line-height: 38px;

    }

    .delivery,
    .contato-info {
        width: 360px;
        height: 429px;
    }

    .text-end {
        width: 220px;
        height: 240px;
        font-size: 16px;

    }

}